{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database.#$ --}}
<div class="jumbotron text-center text-white bg-danger">
  <div class="caption">
      <h1><strong>Burgers</strong></h1>
      <h3>Come and get yours!</h3>
    </div>
</div>

<div class="container burger-list">
  <h2><strong>Devoured Burgers</strong></h2>
  <div class="row">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
  </div>
</div>

<div class="container burger-list mt-1">
  <h2><strong>Ready to Devour!</strong></h2>
  <div class="row">
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
  </div>
</div>

<div class="container new-burger-form">
  <div class="card mb-5 mt-2">
    <div class="card-header bg-warning">
      <h2><strong>Add a Burger</strong></h2>
    </div>
    <div class="card-body bg-light">
      <form class="create-form devour-form" method="POST" action="/api/burgers">

        <div class="form-group">
          <label for="burger_name">Burger Name:</label>
          <input type="text" id="burger_name" name="burger_name">
        </div>

        <div class="form-group">
          <span>
            <label for="devoured">Devoured?</label>
            <input type="radio" name="devoured" value="1" checked> Devoured!
            <input type="radio" name="devoured" value="0"> Available
          </span>
        </div>

        <button type="submit" class="float-right bg-primary">Add Burger</button>
      </form>
    </div>
  </div>

</div>
